.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 480;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-secondary);
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav-tab {
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--bg-tertiary);
  color: var(--text-secondary);
  border: none;
  cursor: pointer;
}

.nav-tab.active {
  justify-content: flex;
  border-radius: 50px;
  background-color: var(--accent);
  color: var(--text-primary);
  border: none;
}
